<!DOCTYPE html>
<html
  class=""
  id="baseClassHtmlTag"
  lang="en"
  th:fragment="parent(content,title,script,link)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Linking css file (tailwinds output.css file) -->
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link data-th-replace="${link}" />
    <!-- flowbite -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <title data-th-replace="${title}">Base HTML</title>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900 dark:text-white">
    <!-- common header -->
    
    <div data-th-replace="~{navbar::navbar}"></div>

    <!-- main body -->
    <div class="pt-24">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- common footer -->
    <!-- <footer class="p-4">
      <p>This is footer</p>
    </footer> -->

    <!--------------------------------- scripts, flowbite -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
    <script data-th-src="@{'/js/script.js'}"></script>
  </body>
</html>
