<!DOCTYPE html>
<html
  lang="en"
  data-th-replace="~{base::parent(~{::#content},~{::title},~{},~{::link})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Page</title>
    <link rel="stylesheet" href="http://www.google.com" />
  </head>
  <body>
    <section id="content" class="p-4">
      <h3>This is services page</h3>
      <h4>Services offered by SCM web app!</h4>
      <p class="w-screen">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, saepe
        error unde voluptatem voluptatibus minima ab amet quia harum vitae r
        ecusandae deleniti optio, qui architecto dicta. Delectus quo molestias
        vel!
      </p>
    </section>
  </body>
</html>
